<h1><%= "#{@team.location} #{@team.name} (#{@team.league})" %></h1>

<% if user_signed_in? && current_user.id == @team.user_id %>
  <ul>
    <li><p><%= link_to 'Edit Team', edit_team_path(@team.id) %></p></li>
    <li><%= button_to 'Delete Team', @team, method: :delete %></li>
  </ul>
<% end %>

<h3>Reviews</h3>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.body %>
      <% if !review.rating.nil? %>
        <br />Team Rating: <%= review.rating %>
      <% end %>
      <% if user_signed_in? && review.user_id == current_user.id %>
        <br /><%= link_to('Edit Review', edit_team_review_path(@team.id, review.id)) %>
        <%= button_to('Delete Review', [@team, review], method: :delete) %>
      <% end %>
      <p></p>
      Review Rating: <%= review.vote %>
      <%= button_to 'Like Review', [@team, review], method: :patch, name: 'vote', value: 'up' %>
      <%= button_to 'Dislike Review', [@team, review], method: :patch, name: 'vote', value: 'down' %>
    </li>
    <br />
  <% end %>
</ul>

<% if user_signed_in? %>
  <p><%= link_to 'Add Review', new_team_review_path(@team.id) %></p>
<% end %>
<p><%= link_to 'Back', teams_path %></p>
