<%= form_for [team, review] do |f| %>

  <div class="row">
    <%= f.label :body %>
    <%= f.text_area(:body, cols: 40, rows: 5) %>
  </div>

  <div class="row">
    <%= f.label :rating, 'Rate Team (1-10)' %>
    <%= f.select :rating, @rating_collection %>
  </div>

  <div class="action">
    <%= f.submit "Submit Review" %>
  </div>

<% end %>
